@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        @apply m-0 p-0 box-border
    }
    html{
        @apply scroll-smooth 
    }
    body{
        @apply overflow-x-hidden bg-body-bg font-secondary text-primary 
    }
    button{
        @apply text-[20px] px-6 py-1 rounded-md  border-2 border-pink
    }
    .btn-primary{
        @apply bg-white text-pink  hover:bg-pink hover:text-white transition-all duration-300
    }
    
    .btn-secondary{
        @apply bg-pink text-white  hover:bg-white hover:text-pink transition-all duration-300
    }
    .section{
        @apply pb-14 
    }
    .title{
        @apply  leading-[28px] font-bold text-primary 
    }
    .clipPath{
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }


}

::-webkit-scrollbar{
    width: 13px;
    background-color: #656060;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    height: 5px;
}

